@model FormaProdutoViewModel

@{
    ViewData["Title"] = "Criar Forma";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Forma</h1>

</div>

<form asp-controller="Forma" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Forma.Nome" class="form-control" placeholder="Digite o nome da forma">
        @Html.ValidationMessageFor(x => x.Forma.Nome)
    </div>
    <div>
        <label for="Produto">Produto</label>
        <select asp-for="Forma.ProdutoId" class="form-control">
            <option value="">Selecione um produto</option>
            @foreach (var produto in Model.Produtos)
            {
                <option value="@produto.Id">@produto.Nome</option>
            }
        </select>
    </div>
    <div>
        <label for="Maquinas">Maquinas</label>
        <table>
            <thead>
                <tr>
                    <th>Selecionar</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Maquinas.Count; i++)
                {
                    <tr>
                        <td>
                            <input asp-for="@Model.Maquinas[i].Selecionado" type="checkbox" />
                            <input asp-for="@Model.Maquinas[i].Id" type="hidden" />
                        </td>
                        <td>@Model.Maquinas[i].Nome</td>
                    </tr>
                }
            </tbody>
        </table>
        @* @for (int i = 0; i < Model.Maquinas.Count; i++)
        {
            <tr>
                <td>
                    <input asp-for="@Model.Maquinas[i].Selecionado" type="checkbox" />
                    <input asp-for="@Model.Maquinas[i].Id" type="hidden" />
                </td>
                <td>@Model.Maquinas[i].Nome</td>
            </tr>
        } *@
    </div>
    <div class="form-group">
        <label for="pecasPorCiclo">Peças por Ciclo</label>
        <input type="number" asp-for="Forma.PecasPorCiclo" class="form-control" placeholder="Digite o número de peças por ciclo da forma">
        @Html.ValidationMessageFor(x => x.Forma.PecasPorCiclo)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Forma" asp-action="Index" role="button">Voltar</a>
</form>
