@model FormaProdutoViewModel

@{
    ViewData["Title"] = "Criar Forma";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Forma</h1>

</div>

<form asp-controller="Forma" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Forma.Nome" class="form-control" placeholder="Digite o nome da forma">
        @Html.ValidationMessageFor(x => x.Forma.Nome)
    </div>
    <div>
        <label for="Produto">Produto</label>
        <select asp-for="Forma.ProdutoId" class="form-control">
            <option value="">Selecione um produto</option>
            @foreach (var produto in Model.Produtos)
            {
                <option value="@produto.Id">@produto.Nome</option>
            }
        </select>
    </div>
@*     @for (var i = 0; i < Model.Maquinas.Count; i++)
    {
        <li>
            <input type="checkbox" asp-for="@Model.Maquinas[i].Selected" />
            <label asp-for="@Model.Maquinas[i].Selected">@Model.Maquinas[i].Nome</label>
            <input type="hidden" asp-for="@Model.Maquinas[i].Id" />
            <input type="hidden" asp-for="@Model.Maquinas[i].Nome" />
        </li>
    } *@
    <div class="form-group">
        <label for="pecasPorCiclo">Peças por Ciclo</label>
        <input type="number" asp-for="Forma.PecasPorCiclo" class="form-control" placeholder="Digite o número de peças por ciclo da forma">
        @Html.ValidationMessageFor(x => x.Forma.PecasPorCiclo)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Forma" asp-action="Index" role="button">Voltar</a>
</form>
