@model List<MateriaPrima>

@{
    ViewData["Title"] = "Matérias-Primas";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="MateriaPrima" asp-action="Criar">Adicionar Nova Matéria-Prima</a>
    </div>
    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <h1 class="display-4">Listagem de Matérias-Primas</h1>

    <table id="table-materiasPrimas" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Unidade</th>
                <th scope="col">Preço</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (MateriaPrima materiaPrima in Model)
                {
                    <tr>
                        <th scope="row">@materiaPrima.Id</th>
                        <td>@materiaPrima.Nome</td>
                        <td>@materiaPrima.Fornecedor</td>
                        <td>@materiaPrima.Unidade</td>
                        <td>R$ @materiaPrima.Preco</td>
                        <td>
                            <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-route-id="@materiaPrima.Id" asp-controller="MateriaPrima" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@materiaPrima.Id" asp-controller="MateriaPrima" asp-action="DeletarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhuma matéria-prima encontrada</td></tr>
            }
        </tbody>
    </table>
</div>